include LICENSE
include README.md
recursive-include guv_ukv_hgb_report *.co
recursive-include guv_ukv_hgb_report *.css
recursive-include guv_ukv_hgb_report *.csv
recursive-include guv_ukv_hgb_report *.html
recursive-include guv_ukv_hgb_report *.ico
recursive-include guv_ukv_hgb_report *.js
recursive-include guv_ukv_hgb_report *.json
recursive-include guv_ukv_hgb_report *.md
recursive-include guv_ukv_hgb_report *.png
recursive-include guv_ukv_hgb_report *.py
recursive-include guv_ukv_hgb_report *.svg
recursive-include guv_ukv_hgb_report *.txt
recursive-exclude guv_ukv_hgb_report *.pyc
