include LICENSE
include README.md
recursive-include ukv_reporting *.co
recursive-include ukv_reporting *.css
recursive-include ukv_reporting *.csv
recursive-include ukv_reporting *.html
recursive-include ukv_reporting *.ico
recursive-include ukv_reporting *.js
recursive-include ukv_reporting *.json
recursive-include ukv_reporting *.md
recursive-include ukv_reporting *.png
recursive-include ukv_reporting *.py
recursive-include ukv_reporting *.svg
recursive-include ukv_reporting *.txt
recursive-exclude ukv_reporting *.pyc
